<div class="tinymce-editor" ...attributes {{did-insert this.initEditor}} {{did-update this.updateValue @value}}>
    {{#if (has-block)}}
        {{yield}}
    {{else}}
        <textarea id={{this.uniqueId}} style="visibility: hidden; height: 0;"></textarea>

        {{#if this.loading}}
            {{yield to="loading"}}
        {{/if}}
    {{/if}}
</div>