<div class="tinymce-editor" ...attributes {{did-insert this.initEditor}} {{did-update this.updateValue @value}}>
    {{#if hasBlock}}
        {{yield}}
    {{else}}
        <textarea id={{this.uniqueId}}></textarea>
    {{/if}}
</div>